<div class="search-form mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="search-input">Nhap tu khoa</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="q" placeholder="nhap tu khoa">
    
  </div>

   <div class="form-group">
    <label for="search-input">Nhap tu khoa</label>
    <select class="form-control" id="exampleInputEmail1" name="gender">
        <option>CChon gioi tính</option>
        <option>Nam</option>
        <option>Nữ</option>
    </select>
    
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>